<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="jobs content">
    <h2>All Jobs</h2>

    <% if (jobs.length > 0) { %>
      <% jobs.forEach(job => { %>
        <a class="single" href="/jobs/<%= job._id %>">
          <h3 class="title"><%= job.title %></h3>
          <p class="snippet"><%= job.desc %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no jobs to display...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>